.geralDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    flex-direction: column;
}

.scoreBoard{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.square {
  width: 600px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  border-radius: 500px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.cell {
  border-radius: 10px;
  width: 59.8px;
  height: 59.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.cellBodySnake {
  border-radius: 10px;
  width: 59.8px;
  height: 59.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-image: url("../src/assets/ratoCorpo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cellHeadSnake {
  border-radius: 10px;
  width: 59.8px;
  height: 59.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-image: url("../src/assets/ratoCabeca.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cellApple {
  border-radius: 10px;
  width: 59.8px;
  height: 59.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-image: url("../src/assets/queijin.png");
  background-repeat: no-repeat;
  background-size: cover;
}

