.geralDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    flex-direction: column;
}

.scoreBoard{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.square {
  width: 600px;
  height: 600px;
  background-color: #fff;
  border: 10px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  border-radius: 500px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.cell {
  width: 59.8px;
  height: 59.8px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
}

.cellBodySnake {
  border: 1px solid black;
  width: 59.8px;
  height: 59.8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellHeadSnake {
  width: 59.8px;
  height: 59.8px;
  overflow: visible;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: visible;
  position: relative;
}


.cellApple {
  border: 1px solid black;
  width: 59.8px;
  height: 59.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/assets/maca.png");
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  
  .cellHeadSnake .snakeTongue {
    position: absolute;
    width: 20px;
    height: 20px;
  }
  
  .cellHeadSnake .tongue-up {
    top: -20px;
    left: 48%;
    transform: translateX(-48%) rotate(180deg);
  }

  .cellHeadSnake .tongue-down {
    bottom: -20px;
    left: 48%;
    transform: translateX(-48%) rotate(0deg);
  }
  
  .cellHeadSnake .tongue-left {
    left: -20px;
    top: 48%;
    transform: translateY(-48%) rotate(90deg);
  }
  
  .cellHeadSnake .tongue-right {
    right: -20px;
    top: 48%;
    transform: translateY(-48%) rotate(270deg);
  }